html {
  box-sizing: border-box;
}
body {
  color: rgb(15, 7, 121);
  background: #2c08ca;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2a08a7, #346eeb);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2b05b3, #437de9); 
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  padding: none;
  margin: none;
}


